In [18]:
import pandas as pd
from functools import reduce

In [4]:
b = pd.read_csv("btc_apr4.csv", index_col=False)

In [5]:
b.head()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees,activeAddresses
0,2013-05-01,1.086597e+08,52443,1.542820e+09,139.00,0.0,3575.0,36.806000,null
1,2013-05-02,9.695852e+07,55169,1.292190e+09,116.38,0.0,3425.0,54.407916,null
2,2013-05-03,8.445970e+07,55636,1.180070e+09,106.25,0.0,3650.0,48.526772,null
3,2013-05-04,4.154584e+07,48595,1.089890e+09,98.10,0.0,3900.0,43.419694,null
4,2013-05-05,5.620593e+07,49907,1.254760e+09,112.90,0.0,3875.0,38.408956,null

In [6]:
e = pd.read_csv("eth_apr4.csv", index_col=False)
bch = pd.read_csv("bch_apr4.csv", index_col=False)
l = pd.read_csv("ltc_apr4.csv", index_col=False)

In [8]:
e.tail()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees,activeAddresses
964,2018-03-31,5.945374e+08,584396,3.891490e+10,395.00,1.323920e+09,20460.84375,281.163320,259652
965,2018-04-01,5.041092e+08,545141,3.914470e+10,397.25,1.256930e+09,20205.00000,250.986522,242923
966,2018-04-02,5.470639e+08,598505,3.742250e+10,379.70,1.102260e+09,20465.25000,308.536535,273668
967,2018-04-03,6.490071e+08,645977,3.818080e+10,387.31,1.363400e+09,20389.59375,332.168332,297312
968,2018-04-04,6.546792e+08,628441,4.106510e+10,416.49,1.287730e+09,20299.68750,283.251215,278603

In [10]:
e.tail()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees,activeAddresses
964,2018-03-31,5.945374e+08,584396,3.891490e+10,395.00,1.323920e+09,20460.84375,281.163320,259652
965,2018-04-01,5.041092e+08,545141,3.914470e+10,397.25,1.256930e+09,20205.00000,250.986522,242923
966,2018-04-02,5.470639e+08,598505,3.742250e+10,379.70,1.102260e+09,20465.25000,308.536535,273668
967,2018-04-03,6.490071e+08,645977,3.818080e+10,387.31,1.363400e+09,20389.59375,332.168332,297312
968,2018-04-04,6.546792e+08,628441,4.106510e+10,416.49,1.287730e+09,20299.68750,283.251215,278603

In [14]:
e.columns = [str(col) + '_e' for col in e.columns]
bch.columns = [str(col) + '_bch' for col in bch.columns]
l.columns = [str(col) + '_l' for col in l.columns]

In [15]:
e.head()

,date_e_e,txVolume(USD)_e_e,txCount_e_e,marketcap(USD)_e_e,price(USD)_e_e,exchangeVolume(USD)_e_e,generatedCoins_e_e,fees_e_e,activeAddresses_e_e
0,2015-08-10,1.193011e+06,1999,43130000.0,0.713989,405283.0,27817.34375,31.165144,1001
1,2015-08-11,1.051922e+06,4945,42796500.0,0.708087,1463100.0,28027.81250,11.311449,2342
2,2015-08-12,7.923327e+05,1993,64018400.0,1.060000,2150620.0,27370.93750,32.586992,906
3,2015-08-13,2.181179e+06,2807,73935400.0,1.220000,4068680.0,28268.12500,24.929169,1274
4,2015-08-14,4.154763e+06,3144,109594000.0,1.810000,4637030.0,31106.71875,14.354834,1594

In [16]:
#rename date columns
e.rename(columns={'date_e_e':'date'}, inplace=True)
bch.rename(columns={'date_bch':'date'}, inplace=True)
l.rename(columns={'date_l':'date'}, inplace=True)

In [25]:
dfs = [b, e, l]
df_final = reduce(lambda left,right: pd.merge(left,right,on='date'), dfs)