In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('bel_future.csv')

In [3]:
data.head()

,Unnamed: 0,date,btc_price,eth_price,ltc_price,name,total,price,open,high,low,vol,change
0,0,8/10/15,265.48,0.713989,3.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,8/11/15,264.34,0.708087,3.95,6276.0,2664787.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,8/12/15,270.60,1.060000,4.14,6280.0,2671067.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,8/13/15,266.18,1.220000,3.97,6285.0,2677352.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,8/14/15,264.13,1.810000,3.88,6287.0,2683639.0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
type(data.date[1])

str

In [5]:
from datetime import datetime

In [6]:
data['date1'] =pd.to_datetime(data['date'])

In [10]:
data.head()

,Unnamed: 0,date,btc_price,eth_price,ltc_price,name,total,price,open,high,low,vol,change,date1
0,0,8/10/15,265.48,0.713989,3.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-10
1,1,8/11/15,264.34,0.708087,3.95,6276.0,2664787.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-11
2,2,8/12/15,270.60,1.060000,4.14,6280.0,2671067.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-12
3,3,8/13/15,266.18,1.220000,3.97,6285.0,2677352.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-13
4,4,8/14/15,264.13,1.810000,3.88,6287.0,2683639.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-14

In [23]:
ts = data[['price','date1']].copy()
ts=ts.dropna()
ts.head()

      price      date1
861  19,055 2017-12-18
862  17,555 2017-12-19
863  16,700 2017-12-20
864  15,290 2017-12-21
865  13,960 2017-12-22

In [37]:
ts.dtypes

price            object
date1    datetime64[ns]
dtype: object

In [19]:
ts.plot()

TypeError: Empty 'DataFrame': no numeric data to plot

In [14]:
ts.price

date1
2015-08-10       NaN
2015-08-11       NaN
2015-08-12       NaN
2015-08-13       NaN
2015-08-14       NaN
2015-08-15       NaN
2015-08-16       NaN
2015-08-17       NaN
2015-08-18       NaN
2015-08-19       NaN
2015-08-20       NaN
2015-08-21       NaN
2015-08-22       NaN
2015-08-23       NaN
2015-08-24       NaN
2015-08-25       NaN
2015-08-26       NaN
2015-08-27       NaN
2015-08-28       NaN
2015-08-29       NaN
2015-08-30       NaN
2015-08-31       NaN
2015-09-01       NaN
2015-09-02       NaN
2015-09-03       NaN
2015-09-04       NaN
2015-09-05       NaN
2015-09-06       NaN
2015-09-07       NaN
2015-09-08       NaN
               ...
2018-01-22    10,215
2018-01-23    10,975
2018-01-24    11,195
2018-01-25    11,300
2018-01-26    10,940
2018-01-27       NaN
2018-01-28    11,700
2018-01-29    11,170
2018-01-30    10,115
2018-01-31     9,955
2018-02-01     9,080
2018-02-02     8,500
2018-02-03       NaN
2018-02-04     8,160
2018-02-05     7,055
2018-02-06     7,580
2018-02-07     8,265
2018-02-08     8,280
2018-02-09     8,600
2018-02-10       NaN
2018-02-11     8,070
2018-02-12     8,835
2018-02-13     8,685
2018-02-14     8,685
2018-02-15    10,095
2018-02-16    10,135
2018-02-17       NaN
2018-02-18    10,390
2018-02-19    11,210
2018-02-20    11,685
Name: price, dtype: object

In [12]:
%matplotlib inline

In [ ]:
import gtk

from matplotlib.figure import Figure
from matplotlib.backends.backend_gtkagg import FigureCanvasGTKAgg as FigureCanvas
from matplotlib.backends.backend_gtkagg import NavigationToolbar2GTKAgg as NavigationToolbar