In [13]:
import pandas as pd

In [17]:
p16=pd.read_csv("jan16-mar16.csv", index_col=False)

In [18]:
p16.head()

,Day,bitcoin: (Worldwide),Ethereum: (Worldwide),Litecoin: (Worldwide),Ripple: (Worldwide)
0,1/1/16,62,0.1,2.0,11
1,1/2/16,62,1.0,2.0,9
2,1/3/16,61,1.0,2.0,11
3,1/4/16,67,1.0,2.0,11
4,1/5/16,66,1.0,2.0,11

In [20]:
w16 = pd.read_csv("weekly2016.csv", index_col=False)

In [21]:
w16.head()

,Week,bitcoin: (Worldwide),Ethereum: (Worldwide),Litecoin: (Worldwide),Ripple: (Worldwide)
0,1/3/16,56,1.0,2.0,10.0
1,1/10/16,59,1.0,2.0,9.0
2,1/17/16,59,2.0,2.0,9.0
3,1/24/16,51,4.0,2.0,9.0
4,1/31/16,48,3.0,1.0,10.0

In [32]:
wbtc = w16[['Week','bitcoin: (Worldwide)']]

In [34]:
wbtc.head()

      Week  bitcoin: (Worldwide)
0   1/3/16                    56
1  1/10/16                    59
2  1/17/16                    59
3  1/24/16                    51
4  1/31/16                    48

In [37]:
wbtc.columns = ['Day', 'bitcoin: (Worldwide)']

In [40]:
merge_btc = pd.merge(p16, wbtc, how="left", on="Day")

In [42]:
merge_btc.to_csv("btc_googletrend.csv")

In [ ]:
agg