In [1]:
import pandas as pd

In [2]:
btc = pd.read_csv("btc.csv", index_col = False)

In [3]:
btc.head()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees
0,2013-05-01,1.086597e+08,52443,1.542820e+09,139.00,0.0,3575.0,36.806000
1,2013-05-02,9.695852e+07,55169,1.292190e+09,116.38,0.0,3425.0,54.407916
2,2013-05-03,8.445970e+07,55636,1.180070e+09,106.25,0.0,3650.0,48.526772
3,2013-05-04,4.154584e+07,48595,1.089890e+09,98.10,0.0,3900.0,43.419694
4,2013-05-05,5.620593e+07,49907,1.254760e+09,112.90,0.0,3875.0,38.408956

In [4]:
eth = pd.read_csv("eth.csv", index_col = False)

In [5]:
eth.head()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees
0,2015-08-10,1.193011e+06,1999,43130000.0,0.713989,405283.0,27817.34375,31.165144
1,2015-08-11,1.051922e+06,4945,42796500.0,0.708087,1463100.0,28027.81250,11.311449
2,2015-08-12,7.923327e+05,1993,64018400.0,1.060000,2150620.0,27370.93750,32.586992
3,2015-08-13,2.181179e+06,2807,73935400.0,1.220000,4068680.0,28268.12500,24.929169
4,2015-08-14,4.154763e+06,3144,109594000.0,1.810000,4637030.0,31106.71875,14.354834

In [6]:
btc1 = btc[['date','price(USD)']]

In [7]:
btc1.head()

         date  price(USD)
0  2013-05-01      139.00
1  2013-05-02      116.38
2  2013-05-03      106.25
3  2013-05-04       98.10
4  2013-05-05      112.90

In [8]:
eth1 = eth[['date','price(USD)']]

In [9]:
eth1.columns = ['date','eth_price_USD']

In [11]:
merge = pd.merge(btc1, eth1, on='date', how = 'left')

In [12]:
merge.head()

         date  price(USD)  eth_price_USD
0  2013-05-01      139.00            NaN
1  2013-05-02      116.38            NaN
2  2013-05-03      106.25            NaN
3  2013-05-04       98.10            NaN
4  2013-05-05      112.90            NaN

In [13]:
merge.to_csv("btc_and_eth_na.csv")

In [16]:
bch = pd.read_csv("bch.csv", index_col=False)

In [17]:
bch.head()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees
0,2017-08-03,4.204937e+08,20909,7.392030e+09,448.49,161518000.0,437.5,20.234731
1,2017-08-04,4.475881e+08,26517,5.969720e+09,362.18,185038000.0,237.5,21.324498
2,2017-08-05,2.316731e+08,15194,3.809330e+09,231.11,144043000.0,162.5,11.224258
3,2017-08-06,1.914714e+08,11791,3.497290e+09,212.18,107606000.0,812.5,9.152825
4,2017-08-07,2.827736e+08,16114,3.688360e+09,223.76,346546000.0,975.0,8.680352

In [18]:
bch.shape

(202, 8)

In [14]:
ltc = pd.read_csv("ltc.csv", index_col=False)

In [19]:
ltc.head()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees
0,2013-05-01,7.474440e+07,8927,73901200.0,4.29,0.0,31450.0,689.159821
1,2013-05-02,1.709996e+07,8290,65242700.0,3.78,0.0,28300.0,551.327803
2,2013-05-03,4.980876e+06,6517,58607400.0,3.39,0.0,19600.0,388.394950
3,2013-05-04,6.266361e+06,6373,52476400.0,3.03,0.0,20950.0,402.197013
4,2013-05-05,6.023749e+06,5637,60525000.0,3.49,0.0,21950.0,298.218364

In [22]:
ltc.shape

(1757, 8)

In [16]:
ltc1 = ltc[['date','price(USD)']]

In [17]:
ltc1.head()

         date  price(USD)
0  2013-05-01        4.29
1  2013-05-02        3.78
2  2013-05-03        3.39
3  2013-05-04        3.03
4  2013-05-05        3.49

In [18]:
ltc1.columns = ['date','ltc_price']

In [20]:
merge2 =  pd.merge(merge, ltc1, on='date', how = 'left')

In [21]:
merge2.head()

         date  price(USD)  eth_price_USD  ltc_price
0  2013-05-01      139.00            NaN       4.29
1  2013-05-02      116.38            NaN       3.78
2  2013-05-03      106.25            NaN       3.39
3  2013-05-04       98.10            NaN       3.03
4  2013-05-05      112.90            NaN       3.49

In [22]:
merge2.columns = ['date','btc_price','eth_price','ltc_price']

In [23]:
merge2.to_csv('btc_eth_ltc_na.csv')

In [24]:
bel = pd.read_csv('btc_eth_ltc_na.csv')

In [25]:
bel.head()

   Unnamed: 0        date  btc_price  eth_price  ltc_price
0           0  2013-05-01     139.00        NaN       4.29
1           1  2013-05-02     116.38        NaN       3.78
2           2  2013-05-03     106.25        NaN       3.39
3           3  2013-05-04      98.10        NaN       3.03
4           4  2013-05-05     112.90        NaN       3.49

In [26]:
ven = pd.read_csv('coinmap/total_vendor.csv')

In [27]:
merge1 = pd.merge(bel, ven, on='date', how = 'left')

In [28]:
merge1.head()

   Unnamed: 0        date  btc_price  eth_price  ltc_price  name  total
0           0  2013-05-01     139.00        NaN       4.29   NaN    NaN
1           1  2013-05-02     116.38        NaN       3.78   NaN    NaN
2           2  2013-05-03     106.25        NaN       3.39   NaN    NaN
3           3  2013-05-04      98.10        NaN       3.03   NaN    NaN
4           4  2013-05-05     112.90        NaN       3.49   NaN    NaN

In [29]:
future = pd.read_csv('future_formate.csv', names = ['date','price','open','high','low','vol','change'])

In [30]:
future.head()

      date   price    open    high     low    vol    change
0     Date   Price    Open    High     Low   Vol.  Change %
1  2/28/18  10,280  10,530  11,040  10,240      0      -3.7
2  2/27/18  10,675  10,350  10,850  10,120      0      3.34
3  2/26/18  10,330   9,680  10,400   9,290  2.67K      8.05
4  2/25/18   9,560   9,680   9,700   9,510      0     -3.63

In [31]:
merge2 = pd.merge(merge1, future, on='date',how='left')

In [32]:
merge2.head()

,Unnamed: 0,date,btc_price,eth_price,ltc_price,name,total,price,open,high,low,vol,change
0,0,2013-05-01,139.00,NaN,4.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-05-02,116.38,NaN,3.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013-05-03,106.25,NaN,3.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2013-05-04,98.10,NaN,3.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2013-05-05,112.90,NaN,3.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
merge2.to_csv('bel_future_na.csv')