In [1]:
import pandas as pd

In [3]:
v = pd.read_csv("ver4.csv")

In [4]:
v.head()

,count,date,btc_per,eth_per,ltc_per,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),...,generatedCoins_l,fees_l,activeAddresses_l,Price_futures,VIX Close,cyber_attack,hashrate,diff,dum_future,btc_unweighted
0,0,8/10/15,59,2.0,2.0,287821077.5,111405,3.843850e+09,265.48,20979400,...,27700.0,70.602802,null,0,12.23,10.0,458451.5907,5.269984e+10,0,118
1,1,8/11/15,62,3.0,2.0,279935629.2,117239,3.828500e+09,264.34,25433900,...,28950.0,64.651515,null,0,13.71,11.0,442733.2505,5.269984e+10,0,124
2,2,8/12/15,61,3.0,2.0,312440693.0,116367,3.920210e+09,270.60,26815400,...,27850.0,55.462690,null,0,13.61,8.0,322225.9752,5.269984e+10,0,122
3,3,8/13/15,64,4.0,2.0,338626860.8,117871,3.857090e+09,266.18,27685500,...,28300.0,55.447488,null,0,13.49,7.0,390338.7830,5.269984e+10,0,128
4,4,8/14/15,58,5.0,2.0,329148435.5,111030,3.828340e+09,264.13,27091200,...,28050.0,56.810211,null,0,12.83,4.0,351042.9323,5.269984e+10,0,116

In [5]:
cy = v[['date','cyber_attack']]

In [6]:
cy.head()

      date  cyber_attack
0  8/10/15          10.0
1  8/11/15          11.0
2  8/12/15           8.0
3  8/13/15           7.0
4  8/14/15           4.0

In [7]:
yearly = pd.read_csv("cyberyearly.csv")

In [8]:
yearly.head()

      date  Percent
0   1/4/15        3
1  1/11/15        3
2  1/18/15        2
3  1/25/15        2
4   2/1/15        4

In [9]:
merge = pd.merge(cy, yearly, on='date',how='left')

In [10]:
merge

        date  cyber_attack  Percent
0    8/10/15          10.0      NaN
1    8/11/15          11.0      NaN
2    8/12/15           8.0      NaN
3    8/13/15           7.0      NaN
4    8/14/15           4.0      NaN
5    8/15/15           6.0      NaN
6    8/16/15           7.0      2.0
7    8/17/15           2.0      NaN
8    8/18/15           8.0      NaN
9    8/19/15           7.0      NaN
10   8/20/15           5.0      NaN
11   8/21/15           5.0      NaN
12   8/22/15           2.0      NaN
13   8/23/15           2.0      2.0
14   8/24/15           4.0      NaN
15   8/25/15           4.0      NaN
16   8/26/15           7.0      NaN
17   8/27/15           7.0      NaN
18   8/28/15           9.0      NaN
19   8/29/15           3.0      NaN
20   8/30/15           6.0      2.0
21   8/31/15           5.0      NaN
22    9/1/15           4.0      NaN
23    9/2/15           5.0      NaN
24    9/3/15           5.0      NaN
25    9/4/15           3.0      NaN
26    9/5/15           3.0      NaN
27    9/6/15           4.0      2.0
28    9/7/15           4.0      NaN
29    9/8/15           2.0      NaN
..       ...           ...      ...
932  2/27/18          27.0      NaN
933  2/28/18          30.0      NaN
934   3/1/18          31.0      NaN
935   3/2/18          25.0      NaN
936   3/3/18          24.0      NaN
937   3/4/18          17.0      3.0
938   3/5/18          28.0      NaN
939   3/6/18          23.0      NaN
940   3/7/18          24.0      NaN
941   3/8/18          28.0      NaN
942   3/9/18          17.0      NaN
943  3/10/18          12.0      NaN
944  3/11/18          17.0      3.0
945  3/12/18          20.0      NaN
946  3/13/18          40.0      NaN
947  3/14/18          29.0      NaN
948  3/15/18          33.0      NaN
949  3/16/18          41.0      NaN
950  3/17/18          29.0      NaN
951  3/18/18          22.0      5.0
952  3/19/18          27.0      NaN
953  3/20/18          16.0      NaN
954  3/21/18          26.0      NaN
955  3/22/18          66.0      NaN
956  3/23/18         100.0      NaN
957  3/24/18          35.0      NaN
958  3/25/18          15.0      5.0
959  3/26/18          42.0      NaN
960  3/27/18          42.0      NaN
961  3/28/18          75.0      NaN

[962 rows x 3 columns]

In [11]:
merge.to_csv("unweighted_cy.csv")